body {
        font-family: 'Exo 2', sans-serif;
    color: 000;
}

.container {

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-section {

    width: 100%;
    text-align: center;
}

.about-section h1 {

    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-section img {
    border: #000 solid 5px;
    width: 300px;
    height: 300px;
/*    border-radius: 50%;*/
    margin-bottom: 20px;
    object-fit:cover;
}

.about-section p {

    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #000;
    text-align: left;
}